<!doctype html>
<html>
  <head>
    <title>WELCOME, PICK A LINK</title>
    <link rel="stylesheet" href="../style.css">
{{!--     <style>
      body {
        background-color: black;
        color: white;
      }
    </style> --}}
  </head>
  <body>
    <h1>WELCOME, PICK A LINK</h1>
    <hr />
    {{{body}}}
  </body>
</html>