<style>
    
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: {{col}};
    }
    p {
        background-color: #f4f4f4;
        padding: 10px;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: red;
        padding: 5px 10px;
        margin: 0 5px;
    }

    .aa{
        text-decoration: none;
        color: green;
        padding: 5px 10px;
        margin: 0 5px;
    }
    
    h1 {
        text-align: center;
        margin-top: 20px;
        color: #333;
    }
</style>

<p>TYPE THE NAME OF BACKGROUND COLOUR YOU WOULD LIKE IN THE URL AFTER A /<BR>
    FOR EXAMPLE CLICK THE BUTTON CALLED RED AND NOTICE HOW THE URL/BACKGROUND CHANGES:<a href="red">RED</a> 

    CLICK THE RANDOM BUTTON FOR A RANDOM BUTTON: <a class = "aa" href="random">RANDOM</a> 
</p>
