<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    p {
        background-color: #f4f4f4;
        padding: 10px;
    }
    img {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }
    a {
        text-decoration: none;
        color: #333;
    }
</style>
<p>Year: {{year}}
    <br>
    Title: {{title}}
</p>
<img id="cloud" src = "https://1629777.fs1.hubspotusercontent-na1.net/hub/1629777/hubfs/network-782707.png?width=1110&name=network-782707.png"/>
<p>Click <a href="/Today">Today</a> for next!</p>
