<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    p {
        background-color: #f4f4f4;
        padding: 10px;
    }
    img {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }
    a {
        text-decoration: none;
        color: #333;
    }
</style>
<p>Year: {{year}}
    <br>
    Title: {{title}}
</p> 
<img id="com" src = "https://www.eurodns.com/assets/images/opengraph-tlds/COM-og.png"/>
<p>Click <a href="/Web-2.0">Web-2.0</a> for next!</p>
 
